/******************************************************************************
* Layout stuff
*******************************************************************************/
#wrapper {
    /*border: solid 1px black;*/
    display:grid;
    background-color: #71CD8B;
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    grid-template-areas:
    "bg hd"
    "mn mn"
    "ft ft";
    grid-template-columns: 5vw 95vw;
    grid-template-rows: 10vh 85vh 5vh;
}

menu {
    /*border: solid 1px black;*/
    grid-area: bg;
    align-self: center;
}

header {
    /*border: solid 1px black;*/
    grid-area: hd;
    font-size: 4vh;
    font-family: helvetica;
    text-align: center;
    color:white;
    align-self: center;
}

main {
    /*border: solid 1px black;*/
    grid-area: mn;
    background-color: white;
}

main.index {
    background-image: url("../img/animals/startsida_1440x750.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right ;
}

main.djur {
    grid-area: mn;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.djurbild {
    grid-area: mn;
    border: solid 20px rgb(237, 236, 236);
    text-align: center;
}

img {
    width: 25vw;
    height: ;
    max-height: 33%;
}

footer {
    /*border: solid 1px black;*/
    grid-area: ft;
    text-align: center;
    color:white;
    font-size: 2vh;
    align-self: center;
}

table.hitta {
    /*border: solid 1px black;*/
    grid-area: mn;
    text-align: center;
    table-layout: fixed;
    width: 50vw;
    height: 100%;
    overflow: hidden;
}

td.hitta { 
    /*border: solid 1px black;*/
    grid-area: mn;
    width: 50vw;
}

tr.hitta {
    /*border: solid 1px black;*/
    grid-area: mn;
}

h2 {
    font-family: Helvetica;
    font-size: 45px;   
}

.map-responsive{
    overflow:hidden;
    padding-bottom:80%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/******************************************************************************
* Meny stuff
*******************************************************************************/
/* Menu-alternativ */
.navLinks {
    position: absolute;
    left: 0vw;
    top: -100vh; /* Lägg menyn utanför sidan så den inte syns */
    background-color: #71CD8B;
    align-items: left;
}

table.menu, td.menu{
    border: 15px solid;
    border-color: #22723F;
    border-collapse: collapse;
    text-align: center;
    font-size: 30px;
    height: 80px;
    width: 150px;
    table-layout: fixed;
}

/* Visa menyn genom att flytta ner den så den syns */
.navActive {
    transform: translateY(110vh);
}

.navlinks, a {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

/******************************************************************************
* Burger stuff
*******************************************************************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.burger div {
    grid-area: bg;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 10%;
}

.line1 {
    grid-area: bg;
    /* transform: rotate(-45deg) translate(-5px, 6px); */
}

.line2 {
    grid-area: bg;
    /* opacity: 0; */
}

.line3 {
    grid-area: bg;
    /* transform: rotate(45deg) translate(-5px, -6px); */
}

.toggle .line1 {
    grid-area: bg;
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    grid-area: bg;
    opacity: 0;
}

.toggle .line3 {
    grid-area: bg;
    transform: rotate(45deg) translate(-5px, -6px);
}
